
.services_para{
    width: 800px;
    text-align: center;
    font-size: 27px;
    align-content: center;
    margin-left: 400px;
    color: #e70909;

}

.services_heading{
    font-size: 40px;
    margin-left: 750px;
}
